<ng-template #filtrationDialog>
    <div
        [ngClass]="{
            'light-mode': this.accountService.theme === 'light',
            'dark-mode': this.accountService.theme === 'dark',
            christmas: this.accountService.theme === 'christmas',
            valentines: this.accountService.theme === 'valentines',
        }"
    >
        <div class="sort-menu" *ngIf="!inAdminVue">
            <div class="dialog-header">
                <h3
                    [ngClass]="{
                        'color-blue': this.accountService.theme === 'light' || this.accountService.theme === 'valentines',
                        'color-brown': this.accountService.theme === 'christmas' || this.accountService.theme === 'dark',
                    }"
                >
                {{ 'FILTERS.TITLE' | translate }}
                </h3>
            </div>

            <div class="filter-group">
                <label
                    for="sort-by"
                    [ngClass]="{
                        'color-blue': this.accountService.theme === 'light' || this.accountService.theme === 'valentines',
                        'color-brown': this.accountService.theme === 'christmas' || this.accountService.theme === 'dark',
                    }"
                    >{{ 'FILTERS.SORT_BY' | translate }}</label
                >
                <select id="sort-by" [(ngModel)]="tempSortBy">
                    <option value="category">{{ 'FILTERS.CATEGORY' | translate }}</option>
                    <option value="rating">{{ 'FILTERS.RATING' | translate }}</option>
                </select>
            </div>

            <div *ngIf="tempSortBy === 'category'" class="categorie-options">
                <div class="filter-group">
                    <label
                        for="type"
                        [ngClass]="{
                            'color-blue': this.accountService.theme === 'light' || this.accountService.theme === 'valentines',
                            'color-brown': this.accountService.theme === 'christmas' || this.accountService.theme === 'dark',
                        }"
                        >{{ 'FILTERS.TYPE' | translate }}</label
                    >
                    <select id="type" [(ngModel)]="tempSelectedType">
                        <option value="difficulties">{{ 'FILTERS.DIFFICULTY' | translate }}</option>
                        <option value="interests">{{ 'FILTERS.INTEREST' | translate }}</option>
                        <option value="durations">{{ 'FILTERS.DURATION' | translate }}</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label
                        for="categories"
                        [ngClass]="{
                            'color-blue': this.accountService.theme === 'light' || this.accountService.theme === 'valentines',
                            'color-brown': this.accountService.theme === 'christmas' || this.accountService.theme === 'dark',
                        }"
                        >{{ 'FILTERS.TAG' | translate }}</label
                    >
                    <select id="categories" [(ngModel)]="tempSelectedCategory">
                        <option *ngFor="let category of categories[tempSelectedType]" [value]="category">
                            {{ category }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div mat-dialog-actions class="dialog-actions" id="space-between">
            <button mat-raised-button class="background-red" mat-dialog-close>{{ 'BUTTONS.CANCEL' | translate }}</button>
            <button mat-raised-button class="background-green" mat-dialog-close (click)="applyFilters()">{{ 'FILTERS.APPLY' | translate }}</button>
        </div>
    </div>
</ng-template>

<div id="space-between">
    <button *ngIf="!inAdminVue" align="end" mat-raised-button color="primary" (click)="openFilterDialog()">
        <span class="material-icons">filter_list</span>{{ 'FILTERS.FILTER' | translate }}
    </button>
    <button
        mat-icon-button
        *ngIf="isFilterApplied() && sortBy"
        (click)="clearAllFilters()"
        aria-label="Réinitialiser les filtres"
        matTooltip="{{ 'FILTERS.REMOVE' | translate }}"
    >
        <mat-icon
            [ngClass]="{
                'color-blue': this.accountService.theme === 'light' || this.accountService.theme === 'valentines',
                'color-brown': this.accountService.theme === 'christmas' || this.accountService.theme === 'dark',
            }"
            >close</mat-icon
        >
    </button>
</div>
<div>
    <div *ngIf="!inAdminVue">
        <div *ngFor="let filteredGame of dataSource.data">
            <mat-card class="pointer" *ngIf="filteredGame.game.isVisible" (click)="navigatePreview(filteredGame.game.id)">
                <mat-card-content>
                    <div style="display: flex; align-items: center; gap: 15px" id="space-between">
                        <h1 style="margin: 0">{{ filteredGame.game | localizedField:'title' }}</h1>
                        <div *ngIf="isFilterApplied() && sortBy" style="display: flex; align-items: center; gap: 10px">
                            <p *ngIf="sortBy === 'category' && selectedCategory" style="margin: 0">
                                {{ filteredGame.categoryDetail }}
                            </p>
                            <p *ngIf="sortBy === 'rating'" style="display: flex; align-items: center; margin: 0">
                                {{ filteredGame.weightedRating | number: '1.1-1' }}
                                <mat-icon class="star" aria-label="Étoile" style="margin-left: 5px">star</mat-icon>
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-list class="games-container" *ngIf="inAdminVue">
        <app-game-panel *ngFor="let filteredGame of dataSource.data" [gameDirective]="filteredGame.game"></app-game-panel>
    </mat-list>

    <div class="paginator-container">
        <mat-paginator
            [length]="nbGames"
            [pageSize]="4"
            [pageSizeOptions]="[2, 4, 6, 8, 12]"
            (page)="onPageChange($event)"
            [ngClass]="{ 'background-pink': inAdminVue, 'background-blue': !inAdminVue }"
        ></mat-paginator>
    </div>
</div>
