<app-logo></app-logo>
<div
    class="create-game-page"
    [ngClass]="{
        'theme-light': this.accountService.theme === 'light',
        'theme-dark': this.accountService.theme === 'dark',
        'theme-christmas': this.accountService.theme === 'christmas',
        'theme-valentines': this.accountService.theme === 'valentines'
    }"
>
    <div class="create-game-shell">
        <app-game-form></app-game-form>

        <div class="buttons-row">
            <button mat-raised-button class="cancel-button action-button" (click)="onCancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
            <button mat-raised-button class="save-button action-button" (click)="onSave()">{{ 'BUTTONS.SAVE' | translate }}</button>
        </div>
    </div>
</div>
