<app-question-form [question]="question"></app-question-form>
<mat-dialog-actions
    class="dialog-actions"
    [ngClass]="{
        'light-mode': this.accountService.theme === 'light',
        'dark-mode': this.accountService.theme === 'dark',
        christmas: this.accountService.theme === 'christmas',
        valentines: this.accountService.theme === 'valentines',
    }"
>
    <button mat-raised-button class="cancel-button action-button" (click)="onCancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
    <button mat-raised-button class="save-button action-button" (click)="onSaveQuestion()">
        {{ 'BUTTONS.SAVE' | translate }}
    </button>
</mat-dialog-actions>
